.product {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width:1200px) {
         flex-direction: row;
      }
   }

   &__content {
      @media (min-width:1200px) {
         width: min(596px, 50%);
      }
   }

   &__calculate {
      flex: 1 1 auto;
   }
}