@use '../assets/variablesSCSS.scss' as *;

.footer {

   &__container {}

   &__body {
      padding: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 32px;
      background: #f1f0f5;
   }

   &__shell {}

   &__logo {}

   &__nav {
      a {
         display: inline-block;
         margin-bottom: 8px;
         font-weight: 400;
         font-size: 16px;
         line-height: 125%;
         color: #000;
      }
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
   }

   &__sub-grid {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      gap: 40px;
   }

   &__email,
   &__phones {
      font-weight: 500;
      font-size: 14px;
      color: #191919;
   }

   &__phones {
      display: flex;
      flex-wrap: wrap;
      font-style: normal;

      a {
         white-space: nowrap;
      }

      a:not(:last-child):after {
         content: "|";
         color: #d3d3de;
         padding: 0 12px;
      }
   }

   &__email {}

   &__address {
      font-size: 14px;
      color: #000;
      line-height: 130%;

      p {
         max-width: 200px;
      }

      &>*:not(:last-child) {
         margin-bottom: 16px;
      }
   }

   &__info {
      padding-top: 12px;
      padding-bottom: 40px;
      font-weight: 300;
      font-size: 14px;
      line-height: 114%;
      color: rgba(25, 25, 25, 0.7);
   }
}